<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>

  <!-- Main Content -->
  <section id="contact">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Business Contacts List</h2>
        <a href="contact-list/add" class="btn btn-primary" role="button">

          <i class = "fas fa-plus-circle"></i>Add a Contact
        </a>
      </div>
    <div class="row">
      <div class="col-md-offset-3 col-md-12">
          <!--<h1><%= title %></h1>-->
          <br>
          <table class ="table table-bordered table-striped table-hover">
            <!-- Header Row-->
            <tr>
              <th class="text-center">First Name</th>
              <th class="text-center">Last Name</th>
              <th class="text-center">Telephone</th>
              <th class="text-center">Email</th>
              <th class="text-center">
                
              </th>
              <th class="text-center">

              </th>
            </tr>
            
            <!-- Repeatable Template now -->

            <% for(let count = 0; count < ContactList.length; count++){ %>
              <tr>
                <td class="text-center"><%= ContactList[count].first_name %></td>
                <td class="text-center"><%= ContactList[count].last_name %></td>
                <td class="text-center"><%= ContactList[count].telephone %></td>
                <td class="text-center"><%= ContactList[count].email %></td>
                <td class="text-center">
                <a href="/contact-list/edit/<%= ContactList[count]._id %>" class="btn btn-primary btn-sm">
                <i class="fas fa-pencil-alt"></i> Edit</a>
                </td>
                <td class="text-center">
                  <a href="/contact-list/delete/<%= ContactList[count]._id %>" class="btn btn-danger btn-sm">
                    <i class="fas fa-trash alt"></i>Delete</a>
              </td>
            <% } %>  
            


          </table>
      </div>
    </div>
    </div>
  </section>


<%- include ../partials/bottom_nav.ejs %>
<%- include ../partials/footer.ejs %>